{% extends 'cetak.html' %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div align="center">
		<h3>Jadwal KBM SMK Negeri 2 Surabaya</h3>
		<h4>Tahun Ajaran {{tahun}}</h4>

		</div><br>
		<table border="0">
			<tr><th>NIP</th><td>:</td><td> {{request.session.reg}}</td></tr>
			<tr><th>Nama</th><td>:</td><td> {{request.session.nama_user}}</td></tr>
		</table><br>
					<table border="1">
					<thead>
						<tr>
						<td align="center" rowspan="2"><b>Jam<b></td>
						<td align="center" colspan="10"><b>Hari<b></td>
						</tr>
						<tr>
						<td align="center" width="17%"><b>Senin<b></td>
						<td align="center" width="17%"><b>Selasa<b></td>
						<td align="center" width="17%"><b>Rabu<b></td>
						<td align="center" width="17%"><b>Kamis<b></td>
						<td align="center" width="17%"><b>Jumat<b></td>
						<td align="center" width="17%"><b>Sabtu<b></td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>1</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 1 and jadwal.waktu.hari == "Senin" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 1 and jadwal.waktu.hari == "Selasa" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 1 and jadwal.waktu.hari == "Rabu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 1 and jadwal.waktu.hari == "Kamis" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 1 and jadwal.waktu.hari == "Jumat" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 1 and jadwal.waktu.hari == "Sabtu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>2</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 2 and jadwal.waktu.hari == "Senin" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 2 and jadwal.waktu.hari == "Selasa" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 2 and jadwal.waktu.hari == "Rabu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 2 and jadwal.waktu.hari == "Kamis" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 2 and jadwal.waktu.hari == "Jumat" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 2 and jadwal.waktu.hari == "Sabtu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>3</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 3 and jadwal.waktu.hari == "Senin" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 3 and jadwal.waktu.hari == "Selasa" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 3 and jadwal.waktu.hari == "Rabu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 3 and jadwal.waktu.hari == "Kamis" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 3 and jadwal.waktu.hari == "Jumat" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 3 and jadwal.waktu.hari == "Sabtu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>4</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 4 and jadwal.waktu.hari == "Senin" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 4 and jadwal.waktu.hari == "Selasa" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 4 and jadwal.waktu.hari == "Rabu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 4 and jadwal.waktu.hari == "Kamis" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 4 and jadwal.waktu.hari == "Jumat" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 4 and jadwal.waktu.hari == "Sabtu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>5</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 5 and jadwal.waktu.hari == "Senin" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 5 and jadwal.waktu.hari == "Selasa" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 5 and jadwal.waktu.hari == "Rabu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 5 and jadwal.waktu.hari == "Kamis" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 5 and jadwal.waktu.hari == "Jumat" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 5 and jadwal.waktu.hari == "Sabtu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>6</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 6 and jadwal.waktu.hari == "Senin" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 6 and jadwal.waktu.hari == "Selasa" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 6 and jadwal.waktu.hari == "Rabu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 6 and jadwal.waktu.hari == "Kamis" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 6 and jadwal.waktu.hari == "Jumat" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 6 and jadwal.waktu.hari == "Sabtu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>7</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 7 and jadwal.waktu.hari == "Senin" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 7 and jadwal.waktu.hari == "Selasa" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 7 and jadwal.waktu.hari == "Rabu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 7 and jadwal.waktu.hari == "Kamis" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 7 and jadwal.waktu.hari == "Jumat" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 7 and jadwal.waktu.hari == "Sabtu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>8</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 8 and jadwal.waktu.hari == "Senin" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 8 and jadwal.waktu.hari == "Selasa" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 8 and jadwal.waktu.hari == "Rabu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 8 and jadwal.waktu.hari == "Kamis" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 8 and jadwal.waktu.hari == "Jumat" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 8 and jadwal.waktu.hari == "Sabtu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>9</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 9 and jadwal.waktu.hari == "Senin" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 9 and jadwal.waktu.hari == "Selasa" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 9 and jadwal.waktu.hari == "Rabu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 9 and jadwal.waktu.hari == "Kamis" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 9 and jadwal.waktu.hari == "Jumat" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 9 and jadwal.waktu.hari == "Sabtu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
						</tr>
						<tr>
							<td>10</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 10 and jadwal.waktu.hari == "Senin" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 10 and jadwal.waktu.hari == "Selasa" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 10 and jadwal.waktu.hari == "Rabu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 10 and jadwal.waktu.hari == "Kamis" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 10 and jadwal.waktu.hari == "Jumat" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
							<td align="center">{% for jadwal in datanya %}
								{% if jadwal.waktu.jam_ke == 10 and jadwal.waktu.hari == "Sabtu" %}
								<b>{{ jadwal.mapel.mapel.nama_mapel }}</b><br>
								{{ jadwal.kelas.nama_kelas }}<br>
								{{ jadwal.ruang }}
								{% endif %}
								{% endfor %}
							</td>
						</tr>
					</tbody>
					</table>
					<table border="2" style="border-style: double;">
					<tr><td style="padding: 10px;">
					Jumlah Jam  : {{jumlah_jam}}
					</td></tr>
					</table>

					<table border="0" width="50%" style="float:right;">
					<tr><td align="center">
					<h5>Surabaya {{ tanggal|date:"d M Y" }}<br>
					Kepala Sekolah<br><br><br><br><br><br>
					<u>{{kepala.nama_lengkap}}</u><br>
					NIP {{kepala.NIP}}
					</h5>
					</td></tr>
					</table>

	</div>
</div>
{% endblock %}