{% extends 'base.html' %}
{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="panel panel-default">
			<ul class="breadcrumb">
				{% autoescape off %}
					{{ breadcrumb }}
				{% endautoescape %}
			</ul>
		</div>
		{% if messages %}
			{% for message in messages %}
			<div class="alert alert-{% if message.tags == 'error' %}danger{% else %}{{ message.tags }}{% endif %} alert-dismissable" align="center">
			<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
			<b>{{ message }}</b>
			</div>
			{% endfor %}
		{% endif %}
		<div class="box primary">
			<header>
				<div class="icons"><i class="icon-table"></i></div>
					<h5>{% autoescape off %}{{ heading }}{% endautoescape %}</h5>
			</header>
			<div class="body">
				<div class="table-responsive">
					<table class="table table-hover" id="dataTables-example">
						<thead>
							<tr>
								<th width="20%">Waktu</th>
								<th width="10%">Kelas</th>
								<th>Jurusan</th>
								<th>Mapel</th>
								<th>Pengajar</th>
							</tr>
						</thead>
						<tbody>
						{% for jadwal in datanya %}
						<tr>
							<td>{{ jadwal.waktu }}</td>
							<td>{{ jadwal.kelas.nama_kelas.split|join:"_" }}</td>
							<td>{{ jadwal.kelas.jurusan }}</td>
							<td>{{ jadwal.mapel.mapel }}</td>
							<td>{{ jadwal.mapel.pengajar.nama_lengkap }}</td>
						</tr>
						{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

